<VirtualHost *:80>
    ServerAdmin webmaster@localhost
    DocumentRoot {{ document_root }}

    <Directory {{ document_root }}/>
        Options Indexes FollowSymLinks
        AllowOverride All
        Require all granted
    </Directory>
</VirtualHost>